* {
    box-sizing: border-box;
  
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

body {
    display: flex;
  
    background: white;
}
