.custom-input {
    height: 3.6rem;
    display: flex;
    flex-grow: 1;
    min-width: 50%;
}
.space-filler {
    height: 1.1rem;
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
    }

    input,
    select {
        height: 2.5rem;
    }
}

a:hover,
a:active,
a:visited {
    color: blue;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    padding-left: 1rem;
    border-radius: 3px;
    border: solid 1px #8080806e;
}