.flex {
    display: flex;

    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-justify-center {
        justify-content: center;
    }

    &-align-center {
        align-items: center;
    }

    &-justify-right {
        justify-content: flex-end;
    }
}
