.custom-form {
    padding: 1rem 0.8rem;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 black;
    background: #d4d4d447;

    &-layout {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__fields-group {
        flex-grow: 1;
        padding: 1rem;
        min-width: 24rem;

        & > div:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

}