<template>

<form class="custom-form" @submit.prevent="sendRequest">
    <div class="custom-form-layout flex flex-row">

        <div class="custom-form__fields-group flex flex-column"
            v-for='(groupFields, i) in fieldsGroups'
            :key='i'>
        
            <template v-for='(field, i) in groupFields.fields'>
                
                <custom-input-text
                    :key='i'
                    :input_id='field.code'
                    v-if="field.type === 'field' && ['text', 'password'].indexOf(getFieldByCode(field.code).type) != -1">
                </custom-input-text>
                
                <custom-checkbox
                    :key='i'
                    :input_id='field.code'
                    v-else-if="field.type === 'field' && getFieldByCode(field.code).type === 'checkbox'">
                </custom-checkbox>

                <custom-button
                    :key='i'
                    :input_id='field.code'
                    v-else-if="field.type === 'field' && getFieldByCode(field.code).type === 'button'">
                </custom-button>

                <custom-link
                    :key='i'
                    :input_id='field.code'
                    v-else-if="field.type === 'field' && getFieldByCode(field.code).type === 'link'">
                </custom-link>

                <custom-select
                    :key='i'
                    :input_id='field.code'
                    v-else-if="field.type === 'field' && getFieldByCode(field.code).type === 'select'">
                </custom-select>

                <subgroup
                    :key='i'
                    :fields='field.fields'
                    v-else-if='field.type === "group"'>
                </subgroup>

            </template>

        </div>
    </div>
</form>

</template>

<script>
import { actions } from '../../modules/reg.js';

import CustomInputText from '../../components/CustomInputText.vue';
import CustomCheckbox from '../../components/CustomCheckbox.vue';
import CustomButton from '../../components/CustomButton.vue';
import CustomSelect from '../../components/CustomSelect.vue';
import CustomLink from '../../components/CustomLink.vue';
import Subgroup from '../../components/Subgroup.vue';

export default {
    name: 'custom-form',
    data() {
        return {};
    },
    computed: {
        fieldsGroups() {
            return this.$store.getters.fieldsGroups;
        },
        fields() {
            return this.$store.getters.fields;
        },
    },
    methods: {
        getFieldByCode(code) {
            return this.fields[code];
        },
        getFieldType(field) {
            const fieldData = this.getFieldByCode(field.code);
            return fieldData.type;
        },
        sendRequest() {
            console.log(this.fields);
        },
    },
    components: {
        CustomInputText,
        CustomCheckbox,
        CustomButton,
        CustomSelect,
        CustomLink,
        Subgroup,
    },
};
</script>
