<template>
    <div class="custom-input flex-column">
        <div class='space-filler'></div>
        <div class="input-checkbox">
            <input class="checkbox"
                v-model='checked'
                :id='input_id'
                :type='field.type'>
            <label :for='input_id'>{{ field.title }}</label>
        </div>
    </div>
</template>

<script>
import { mutations } from '../modules/reg.js';
import InputMixin from '../mixins/InputMixin.js';

export default {
    name: 'custom-checkbox',
    mixins: [ InputMixin ],
    data() {
        return {
        };
    },
    computed: {
        checked: {
            get() {
                return this.$store.getters.fields[this.input_id].value;
            },
            set(value) {
                const payload = {
                    id: this.input_id,
                    property: 'checked',
                    value,
                };
                this.$store.commit(mutations.UPDATE_FIELD, payload);
            },
        },
    },
}
</script>

<style lang="scss">
.input-checkbox {
    display: flex;
    align-items: center;
    height: 2.5rem;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #7e7d7d;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #7e7d7d;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-color: #51d371;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>
