<template>
    <div class="custom-input flex-column">
        <div class='space-filler'></div>
        <input class="custom-input input-button"
            :type='field.type'
            :id='input_id'
            :value='field.title'
            :action='field.action'
            @click="sendRequest">
    </div>
</template>

<script>
import InputMixin from '../mixins/InputMixin.js';

export default {
    name: 'custom-input-text',
    mixins: [ InputMixin ],
    data() {
        return {
        };
    },
    methods: {
        sendRequest() {
            console.log(this.$store.getters.fields);
        }
    },
}
</script>

<style lang="scss">
.input-button { 
    display: flex;
    justify-content: center;
    align-items: center;

    border: none; 
    outline: none; 

    height: inherit;

    color: white;
    background: blue;
    border-radius: 3px;

    font-size: 0.75rem;

    &:hover {
        cursor: pointer;
    }
}
</style>
