<template>
    <div class="custom-input flex-column">
        <div class='space-filler'></div>
        <a class="custom-input input-link flex flex-justify-center flex-align-center" 
            :class='{ 
                "input-link_reg": input_id === "reg",
                "flex-justify-right": input_id === "forgot",
                }'
            :id='input_id'
            :href='field.href'>
            {{ field.title }}
        </a>
    </div>
</template>

<script>
import InputMixin from '../mixins/InputMixin.js';

export default {
    name: 'custom-input-text',
    mixins: [ InputMixin ],
    data() {
        return {
        };
    },
}
</script>

<style lang="scss">
.input-link {
    font-size: 0.75rem;

    &_reg {
        &:active,
        &:hover,
        & {
            text-decoration: none;
            color: blue;
        }
    }
}
</style>
