<template>
    <div class="custom-input input-text select-wrapper">

        <label :for='input_id'>{{ field.title + ':' }}</label>
        
        <select v-model='value' class="custom-select"
            :id='input_id'>
            <option value="" disabled selected>{{ field.placeholder }}</option>
            <option v-for='(option, i) in field.options'
                :key='i'
                :label='option.value'
                :value='option.key'>
                {{ option.value }}
            </option>
        </select>
    </div>
</template>

<script>
import { mutations } from '../modules/reg.js';
import InputMixin from '../mixins/InputMixin.js';

export default {
    name: 'custom-input-text',
    mixins: [ InputMixin ],
    data() {
        return {
        };
    },
    computed: {
        value: {
            get() {
                return this.$store.getters.fields[this.input_id].value;
            },
            set(value) {
                const payload = {
                    id: this.input_id,
                    property: 'value',
                    value,
                };
                this.$store.commit(mutations.UPDATE_FIELD, payload);
            },
        },
    },
}
</script>

<style lang="scss">
.custom-select {
    height: 2.5rem;
    appearance: none;
}

.select-wrapper {
    
    &:after {
        content: " ";
        display: block;
        align-self: flex-end;

        margin-top: 0.7rem;
        margin-left: -1rem;

        border-top: 0.6rem solid gray;
        border-bottom: 0;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;

        pointer-events: none;
        position: absolute;
    }
}
</style>
