<template>
    <div class="custom-input input-text">
        <label :for='input_id'>{{ field.title + ':' }}</label>
        <input v-model='value'
            :id='input_id'
            :type='field.type'
            :placeholder='field.placeholder'>
    </div>
</template>

<script>
import { mutations } from '../modules/reg.js';
import InputMixin from '../mixins/InputMixin.js';

export default {
    name: 'custom-input-text',
    mixins: [ InputMixin ],
    data() {
        return {
        };
    },
    computed: {
        value: {
            get() {
                return this.$store.getters.fields[this.input_id].value;
            },
            set(value) {
                const payload = {
                    id: this.input_id,
                    property: 'value',
                    value,
                };
                this.$store.commit(mutations.UPDATE_FIELD, payload);
            },
        },
    },
}
</script>

<style lang="scss">

</style>
