<template>
    <div class="subgroup flex flex-row">
        <template v-for='(field, i) in fields'>

            <custom-input-text
                :key='i'
                :input_id='field.code'
                v-if="getFieldByCode(field.code).type === 'text'">
            </custom-input-text>

            <custom-checkbox
                :key='i'
                :input_id='field.code'
                v-else-if="getFieldByCode(field.code).type === 'checkbox'">
            </custom-checkbox>

            <custom-button
                :key='i'
                :input_id='field.code'
                v-else-if="getFieldByCode(field.code).type === 'button'">
            </custom-button>

            <custom-link
                :key='i'
                :input_id='field.code'
                v-else-if="getFieldByCode(field.code).type === 'link'">
            </custom-link>

            <custom-select
                :key='i'
                :input_id='field.code'
                v-else-if="getFieldByCode(field.code).type === 'select'">
            </custom-select>

        </template>
    </div>
</template>

<script>
import CustomInputText from './CustomInputText.vue';
import CustomCheckbox from './CustomCheckbox.vue';
import CustomSelect from './CustomSelect.vue';
import CustomButton from './CustomButton.vue';
import CustomLink from './CustomLink.vue';

export default {
    props: {
        fields: Array,
    },
    computed: {
        allFields() {
            return this.$store.getters.fields;
        },
    },
    methods: {
        getFieldByCode(code) {
            return this.allFields[code];
        },
        getFieldType(field) {
            const fieldData = this.getFieldByCode(field.code);
            return fieldData.type;
        },
    },
    components: {
        CustomInputText,
        CustomCheckbox,
        CustomSelect,
        CustomButton,
        CustomLink,
    }
}
</script>

<style lang="scss">
.subgroup {
    flex-grow: 1;    
}
</style>
