<template>
    <div id="app" class="app-layout">
        <custom-form></custom-form>
    </div>
</template>

<script>
import CustomForm from './views/CustomForm/CustomForm.vue';

import { actions } from './modules/reg.js';

export default {
    data() {
        return {
        };
    },
    beforeMount() {
        this.$store.dispatch(actions.initFields);
    },
    components: {
        CustomForm,
    }
};
</script>

<style lang="scss">
.app-layout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: white;
}
</style>
